.git
.gradle
build
out
bin

.idea
.vscode
*.iml
*.iws
*.ipr
.classpath
.project
.settings

HELP.md
*.log
*.tmp
.DS_Store

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

docker-compose*.yml
.env
.env.*
!.env.docker.example
